body {
  background-color: black;
  text-align: center;
}
h1 {
  color: white;
  font-size: 50px;
  font-family: Verdana;
  font-weight: normal;
}
.dlnk {
  color: aquamarine;
  font-size: 16px;
}
.supsec1 p {
  color: gray;
  font-family: Verdana;
  font-weight: normal;
  font-size: 21px;
}
.supsec2 img {
  padding-top: 25px;
}
